.status {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.true {
  composes: status;
  background-color: green;
}
.false {
  composes: status;
  background-color: red;
}
.friendList {
  list-style: none;
}
